/.idea/
**/.DS_Store
/cmake-build-debug/
/mp3_ogg_converter/in/dsbarexp.wav
/mp3_ogg_converter/in/dsbdcls.wav
/mp3_ogg_converter/in/dsbdopn.wav
/mp3_ogg_converter/in/dsbfg.wav
/mp3_ogg_converter/in/dsbgact.wav
/mp3_ogg_converter/in/dsbgdth1.wav
/mp3_ogg_converter/in/dsbgdth2.wav
/mp3_ogg_converter/in/dsbgsit1.wav
/mp3_ogg_converter/in/dsbgsit2.wav
/mp3_ogg_converter/in/dsboscub.wav
/mp3_ogg_converter/in/dsbosdth.wav
/mp3_ogg_converter/in/dsbospit.wav
/mp3_ogg_converter/in/dsbospn.wav
/mp3_ogg_converter/in/dsbossit.wav
/mp3_ogg_converter/in/dsbrsdth.wav
/mp3_ogg_converter/in/dsbrssit.wav
/mp3_ogg_converter/in/dsbspact.wav
/mp3_ogg_converter/in/dsbspdth.wav
/mp3_ogg_converter/in/dsbspsit.wav
/mp3_ogg_converter/in/dsbspwlk.wav
/mp3_ogg_converter/in/dscacdth.wav
/mp3_ogg_converter/in/dscacsit.wav
/mp3_ogg_converter/in/dsclaw.wav
/mp3_ogg_converter/in/dscybdth.wav
/mp3_ogg_converter/in/dscybsit.wav
/mp3_ogg_converter/in/dsdbcls.wav
/mp3_ogg_converter/in/dsdbload.wav
/mp3_ogg_converter/in/dsdbopn.wav
/mp3_ogg_converter/in/dsdmact.wav
/mp3_ogg_converter/in/dsdmpain.wav
/mp3_ogg_converter/in/dsdorcls.wav
/mp3_ogg_converter/in/dsdoropn.wav
/mp3_ogg_converter/in/dsdshtgn.wav
/mp3_ogg_converter/in/dsfirsht.wav
/mp3_ogg_converter/in/dsfirxpl.wav
/mp3_ogg_converter/in/dsflame.wav
/mp3_ogg_converter/in/dsflamst.wav
/mp3_ogg_converter/in/dsgetpow.wav
/mp3_ogg_converter/in/dshoof.wav
/mp3_ogg_converter/in/dsitemup.wav
/mp3_ogg_converter/in/dsitmbk.wav
/mp3_ogg_converter/in/dskeendt.wav
/mp3_ogg_converter/in/dskeenpn.wav
/mp3_ogg_converter/in/dskntdth.wav
/mp3_ogg_converter/in/dskntsit.wav
/mp3_ogg_converter/in/dsmanatk.wav
/mp3_ogg_converter/in/dsmandth.wav
/mp3_ogg_converter/in/dsmansit.wav
/mp3_ogg_converter/in/dsmetal.wav
/mp3_ogg_converter/in/dsmnpain.wav
/mp3_ogg_converter/in/dsnoway.wav
/mp3_ogg_converter/in/dsoof.wav
/mp3_ogg_converter/in/dspdiehi.wav
/mp3_ogg_converter/in/dspedth.wav
/mp3_ogg_converter/in/dspepain.wav
/mp3_ogg_converter/in/dspesit.wav
/mp3_ogg_converter/in/dspistol.wav
/mp3_ogg_converter/in/dsplasma.wav
/mp3_ogg_converter/in/dspldeth.wav
/mp3_ogg_converter/in/dsplpain.wav
/mp3_ogg_converter/in/dspodth1.wav
/mp3_ogg_converter/in/dspodth2.wav
/mp3_ogg_converter/in/dspodth3.wav
/mp3_ogg_converter/in/dspopain.wav
/mp3_ogg_converter/in/dsposact.wav
/mp3_ogg_converter/in/dsposit1.wav
/mp3_ogg_converter/in/dsposit2.wav
/mp3_ogg_converter/in/dsposit3.wav
/mp3_ogg_converter/in/dspstart.wav
/mp3_ogg_converter/in/dspstop.wav
/mp3_ogg_converter/in/dspunch.wav
/mp3_ogg_converter/in/dsradio.wav
/mp3_ogg_converter/in/dsrlaunc.wav
/mp3_ogg_converter/in/dsrxplod.wav
/mp3_ogg_converter/in/dssawful.wav
/mp3_ogg_converter/in/dssawhit.wav
/mp3_ogg_converter/in/dssawidl.wav
/mp3_ogg_converter/in/dssawup.wav
/mp3_ogg_converter/in/dssgcock.wav
/mp3_ogg_converter/in/dssgtatk.wav
/mp3_ogg_converter/in/dssgtdth.wav
/mp3_ogg_converter/in/dssgtsit.wav
/mp3_ogg_converter/in/dsshotgn.wav
/mp3_ogg_converter/in/dsskeact.wav
/mp3_ogg_converter/in/dsskeatk.wav
/mp3_ogg_converter/in/dsskedth.wav
/mp3_ogg_converter/in/dsskepch.wav
/mp3_ogg_converter/in/dsskesit.wav
/mp3_ogg_converter/in/dsskeswg.wav
/mp3_ogg_converter/in/dssklatk.wav
/mp3_ogg_converter/in/dsskldth.wav
/mp3_ogg_converter/in/dsslop.wav
/mp3_ogg_converter/in/dsspidth.wav
/mp3_ogg_converter/in/dsspisit.wav
/mp3_ogg_converter/in/dsssdth.wav
/mp3_ogg_converter/in/dssssit.wav
/mp3_ogg_converter/in/dsstnmov.wav
/mp3_ogg_converter/in/dsswtchn.wav
/mp3_ogg_converter/in/dsswtchx.wav
/mp3_ogg_converter/in/dstelept.wav
/mp3_ogg_converter/in/dstink.wav
/mp3_ogg_converter/in/dsvilact.wav
/mp3_ogg_converter/in/dsvilatk.wav
/mp3_ogg_converter/in/dsvildth.wav
/mp3_ogg_converter/in/dsvilsit.wav
/mp3_ogg_converter/in/dsvipain.wav
/mp3_ogg_converter/in/dswpnup.wav
/mp3_ogg_converter/out/0.ogg
/mp3_ogg_converter/out/1.ogg
/mp3_ogg_converter/out/2.ogg
/mp3_ogg_converter/out/3.ogg
/mp3_ogg_converter/out/4.ogg
/mp3_ogg_converter/out/5.ogg
/mp3_ogg_converter/out/6.ogg
/mp3_ogg_converter/out/7.ogg
/mp3_ogg_converter/out/8.ogg
/mp3_ogg_converter/out/9.ogg
/mp3_ogg_converter/out/10.ogg
/mp3_ogg_converter/out/11.ogg
/mp3_ogg_converter/out/12.ogg
/mp3_ogg_converter/out/13.ogg
/mp3_ogg_converter/out/14.ogg
/mp3_ogg_converter/out/15.ogg
/mp3_ogg_converter/out/16.ogg
/mp3_ogg_converter/out/17.ogg
/mp3_ogg_converter/out/18.ogg
/mp3_ogg_converter/out/19.ogg
/mp3_ogg_converter/out/20.ogg
/mp3_ogg_converter/out/21.ogg
/mp3_ogg_converter/out/22.ogg
/mp3_ogg_converter/out/23.ogg
/mp3_ogg_converter/out/24.ogg
/mp3_ogg_converter/out/25.ogg
/mp3_ogg_converter/out/26.ogg
/mp3_ogg_converter/out/27.ogg
/mp3_ogg_converter/out/28.ogg
/mp3_ogg_converter/out/29.ogg
/mp3_ogg_converter/out/30.ogg
/mp3_ogg_converter/out/31.ogg
/mp3_ogg_converter/out/32.ogg
/mp3_ogg_converter/out/33.ogg
/mp3_ogg_converter/out/34.ogg
/mp3_ogg_converter/out/35.ogg
/mp3_ogg_converter/out/36.ogg
/mp3_ogg_converter/out/37.ogg
/mp3_ogg_converter/out/38.ogg
/mp3_ogg_converter/out/39.ogg
/mp3_ogg_converter/out/40.ogg
/mp3_ogg_converter/out/41.ogg
/mp3_ogg_converter/out/42.ogg
/mp3_ogg_converter/out/43.ogg
/mp3_ogg_converter/out/44.ogg
/mp3_ogg_converter/out/45.ogg
/mp3_ogg_converter/out/46.ogg
/mp3_ogg_converter/out/47.ogg
/mp3_ogg_converter/out/48.ogg
/mp3_ogg_converter/out/49.ogg
/mp3_ogg_converter/out/50.ogg
/mp3_ogg_converter/out/51.ogg
/mp3_ogg_converter/out/52.ogg
/mp3_ogg_converter/out/53.ogg
/mp3_ogg_converter/out/54.ogg
/mp3_ogg_converter/out/55.ogg
/mp3_ogg_converter/out/56.ogg
/mp3_ogg_converter/out/57.ogg
/mp3_ogg_converter/out/58.ogg
/mp3_ogg_converter/out/59.ogg
/mp3_ogg_converter/out/60.ogg
/mp3_ogg_converter/out/61.ogg
/mp3_ogg_converter/out/62.ogg
/mp3_ogg_converter/out/63.ogg
/mp3_ogg_converter/out/64.ogg
/mp3_ogg_converter/out/65.ogg
/mp3_ogg_converter/out/66.ogg
/mp3_ogg_converter/out/67.ogg
/mp3_ogg_converter/out/68.ogg
/mp3_ogg_converter/out/69.ogg
/mp3_ogg_converter/out/70.ogg
/mp3_ogg_converter/out/71.ogg
/mp3_ogg_converter/out/72.ogg
/mp3_ogg_converter/out/73.ogg
/mp3_ogg_converter/out/74.ogg
/mp3_ogg_converter/out/75.ogg
/mp3_ogg_converter/out/76.ogg
/mp3_ogg_converter/out/77.ogg
/mp3_ogg_converter/out/78.ogg
/mp3_ogg_converter/out/79.ogg
/mp3_ogg_converter/out/80.ogg
/mp3_ogg_converter/out/81.ogg
/mp3_ogg_converter/out/82.ogg
/mp3_ogg_converter/out/83.ogg
/mp3_ogg_converter/out/84.ogg
/mp3_ogg_converter/out/85.ogg
/mp3_ogg_converter/out/86.ogg
/mp3_ogg_converter/out/87.ogg
/mp3_ogg_converter/out/88.ogg
/mp3_ogg_converter/out/89.ogg
/mp3_ogg_converter/out/90.ogg
/mp3_ogg_converter/out/91.ogg
/mp3_ogg_converter/out/92.ogg
/mp3_ogg_converter/out/93.ogg
/mp3_ogg_converter/out/94.ogg
/mp3_ogg_converter/out/95.ogg
/mp3_ogg_converter/out/96.ogg
/mp3_ogg_converter/out/97.ogg
/mp3_ogg_converter/out/98.ogg
/mp3_ogg_converter/out/99.ogg
/mp3_ogg_converter/out/100.ogg
/mp3_ogg_converter/out/101.ogg
/mp3_ogg_converter/out/102.ogg
/mp3_ogg_converter/out/103.ogg
/mp3_ogg_converter/out/104.ogg
/mp3_ogg_converter/out/105.ogg
/mp3_ogg_converter/out/106.ogg
/GAME_DATA
